.sidebar {
  height: 94vh;
  position: fixed;
  width: 15%;
  margin-top: 6vh;
  border: 1px solid #b8b8b8;
  top: 0;
  left: 0;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}

body {
  background-color: var(--theme-color);
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}

.theme-toggle {
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 5%;
  left: 39%;
}
